{% extends 'blog/index.html' %}
{% load staticfiles %}

{% block static_extras %}
<script type="text/javascript" src="{% static 'tiny_mce/tiny_mce.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'tiny_mce/textarea.js' %}" type="text/javascript"></script>
{% endblock static_extras %}

{% block body %}
{% if user.is_authenticated %}
<form  method="POST" action="">
  {% csrf_token %}
  {{ form.as_p }}  
  <input type="submit" value="Skapa post" />
</form>
{% endif %}
{% endblock %}

{% block side-about %}
<h3> Lägga in bild: </h3>

<p>Tryck på HTML och skriv in <br/> &lt;img src="media/bild.jpg"/&gt; <br/> där du vill ha bilden.</p>
<p>'bild.jgp' är namnet på bilden du laddat upp. <br/><br/>Mellanslag blir til understreck,
  så om bilden heter 'hej olle.jpg' när du laddar upp den, skriver du: </p>
<p> &lt;img src="media/hej_olle.jpg"/&gt; </p>
<h4 align="center"> I love You </h4>
<hr/>
{% endblock %}

{% block recentblock %}
{% endblock %}
