{% extends 'blog/index.html' %}
{% load staticfiles %}

{% block navbar %}
<ul class="nav navbar-nav navbar-right">
  {% if user.is_authenticated %}
  <li><a href="{% url 'create' %}">New Post</a></li>
  {% endif %}
  <li><a href="{% url 'list' %}">Home</a></li>
  {% if user.is_anonymous %}
  <li><a href="{% url 'django.contrib.auth.views.login' %}">Sign in</a></li>
  {% else %}
  <li><a href="{% url 'django.contrib.auth.views.logout' %}">Sign out</a></li>
  {% endif %}
</ul>
{% endblock %}

{% block body %}
{% for post in object_list %}
<div class="post-preview">
  <a href="{% url 'detail' post.pk %}">
    <h3 id="postTitle">{{ post.titel }}</h3>
    <h2 id="datestamp"> {{ post.created }} </h2>
  </a>
  <p>
    {{ post.text | safe }}
  </p>
</div>
<hr>
{% endfor %}
{% endblock body %}
